<form align = 'center' method="post" action="/spending_tracker/merchant" >
  <label for="merchant_name">Merchant</label>
  <input id= "merchant_name" type="text" name="name" />
  <input class= 'submit' type="submit" value="create merchant"/>
</form>
<h4 align = 'center'>Existing merchants</h4>
<%@merchants.each do |merchant|%>
<h5 align = 'center' ><%=merchant.name%> </h5>

<form align = 'center' method="post" action="/spending_tracker/merchant/<%= merchant.id%>" >
  <input class = 'delete' type="submit" value="delete merchant"/>
</form>
<%end%>
