<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #c0c8e2;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #8f9dcb;
}
tr:nth-child(odd) {
  background-color: #c0c8e2;
}
td{
  color: #655858;
}
.button{
  background-color: white;
}
</style>
